.moviecast {
    display: flex;  
    flex-direction: column;  
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.moviecastlist {
    display: flex;  
    flex-direction: row;  
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.moviecastimage {
    max-width: 150px;
    min-width: 50px;
    height: auto;
    border-radius: var(--border-radius);
}

.moviecastinfo {
    font-size: 12px; 
    font-weight: bold;
    color: var(--color-light);
    margin: 0;
}
.character {
    font-size: 12px; 
    color: var(--color-light);
    margin: 0;
}